.message {
  position: fixed;
  right: 5px;
  top: 5px;
  border-radius: 10px;
  max-width: 200rem;
  padding: 10px;
}

.notify {
  background-color: lightgreen;
  color: green;
}

.error {
  background-color: #ff002633;
  color: red;
}
